<table class="table table-striped table-hover panel">
    <thead>
        <tr>
            <th>Player1</th>
            <th>Player2</th>
            <th>Winner</th>
        </tr>
    </thead>
    <tbody>
        {{#each match}}
            <tr>
                <td>{{p1_name}}</td>
                <td>{{p2_name}}</td>
                <td>
                    <select class='form-control winner_list' name='winner'>
                        <option value='{{p1_name}}'>{{p1_name}}</option>
                        <option value='{{p2_name}}'>{{p2_name}}</option>
                    </select>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
